/***************** main start ********************/
.main-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 44px;
	color: white;	
}
.slider-pager .slider-pager-page{
	color:#fff;
}
.main .main_slide img{
	width:100%;
	display: block;
}

.main .main_scroll{
	width: 100%;
	background: white;
	height: 115px;
}


.main .main_scroll .scroll{
	width: 850px;
	height: 115px;
}

.main_scroll img{
	width:95px;
	height: 95px;
	margin-top:10px;
	margin-left:10px;
}
/* 首页顶部导航*/
.main_nav_list{
	display: inline-block;
	width:40px;
	margin: 0 10px;
	height:40px;
	line-height: 40px;
	text-align: center;
	color:#666;
}
.main_nav_list_active{
	color:red;
	border-bottom:1px solid red;
	display: inline-block;
	width:40px;
	margin: 0 10x;
	height:40px;
	line-height: 40px;
	text-align: center;
}

.main_nav_scroll{
	width: 100%;
	padding:0 10px;
	background: white;
	height: 40px;		
}
.main_nav_scroll .scroll{
	width: 540px;
	height: 40px;
}
/*list*/
.main_list img{
	width:100%;
	display:block;
}
.main_list .item{
	padding:0;
	background: #F5F5F5;	
}
.main_list  .main_item{
	padding-top:6px;
}

.item-title{
	display: -webkit-flex;
	height: 50px;
}
 .main_list .item-title p{
 	padding-left:6px;
 	padding-right:6px;
	font-size: 16px;
	line-height: 50px;
}
 .main_list .item-title p:nth-of-type(1){
	flex: 1;
}
  .main_list.item-title p:nth-of-type(2){
  	padding-left:6px;
	width: 90px;
}
.main .spinner{
	stroke: #e42112;
    fill: #e42112;
}
/***************** main end ********************/

