		

		<ion-tabs class="tabs-icon-top tabs-color-active-assertive tabs-light">	
			<ion-tab title="礼物说" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" ui-sref="tabs.main">
				<ion-nav-view name="main-tab"></ion-nav-view>
			</ion-tab>
			<ion-tab title="热门" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.hot">
				<ion-nav-view name="hot-tab"></ion-nav-view>
			</ion-tab>
			<ion-tab title="分类" icon-on="ion-ios-grid-view" icon-off="ion-ios-grid-view-outline" ui-sref="tabs.category">
				<ion-nav-view name="category-tab"></ion-nav-view>
			</ion-tab>
			<ion-tab title="我" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.me">
				<ion-nav-view name="me-tab"></ion-nav-view>
			</ion-tab>
		</ion-tabs>